/* fonts */

/* variables */
:root {
    --font-size-big: 25px;
    --font-size-med: 20px;
    --font-size-sml: 16px;
}

/* boiled plate set up */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--font-size-big);
    color: #fff;
    background-color: #f00;
    text-transform: uppercase;
}